.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
}

hr.line {
    border-top: 10px solid black;
}


p {
    margin: 0;
    padding-left: 20px;
    background: white;
    text-align: center;
}

.border {
  height: 800px;
  width: 10px;
  background-color: black;
}
